*~
/blib
*.bs
CaseFolding.txt*
cover_db/
/Debian_CPANTS.txt
./diffs
/.gdbinit
/log.*
/Makefile
/Makefile.old
/MANIFEST.files
/META.yml
/mkheader.bak
/MYMETA.json
/MYMETA.yml
/nohup.out
*.o
/*.patch
/pm_to_blib
Towctrans.bs
towctrans.c
Towctrans.c
Towctrans.c.gcov
/towctrans.c.orig
Towctrans.gcda
Towctrans.gcno
towctrans.h.*
Towctrans.o
Towctrans.xs.gcov
towfc.c
towfc.h.*
t/towctrans
/Unicode-Towctrans-*
