/log.*
*~
/Unicode-Towctrans-*
/.gdbinit
/*.patch
/META.yml
/MYMETA.json
/MYMETA.yml
/Makefile
/Makefile.old
/MANIFEST.files
*.bs
*.o
Towctrans.bs
Towctrans.c
Towctrans.o
/blib
/pm_to_blib
/nohup.out
/Debian_CPANTS.txt
Towctrans.c.gcov
Towctrans.gcda
Towctrans.gcno
Towctrans.xs.gcov
cover_db/
towctrans.h.*
towctrans.c
towfc.h.*
towfc.c
CaseFolding.txt*
