*~
/blib
*.bs
CaseFolding.txt*
cover_db/
/Debian_CPANTS.txt
./diffs
.gdbinit
/log.*
/Makefile
/Makefile.old
/MANIFEST.files
/META.yml
/mkheader.bak
/MYMETA.json
/MYMETA.yml
/nohup.out
*.o
/*.patch
/pm_to_blib
/towctrans.c.orig
towctrans-*.h
towctrans.h.*
t/t_towctrans
/Unicode-Towctrans-*
/diffs.log
examples/bench
examples/test-[0-9]*
examples/test-glibc
examples/test-iswalpha
examples/towctrans-[0-9]*.c
